#frame {
  position: absolute;
  left: 100px;
  top: 100px;
  width: 545px;
  height: 629px;
  background: url(images/frame.png);
  z-index: 2;
  overflow: hidden;
}
#pic_box {
  position: relative;
  left: 91px;
  top: 84px;
  height: 460px;
  width: 367px;
  z-index: 1;
  overflow: hidden;
}
.face {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 0;
}
#head {
  height: 172px;
}
#eyes {
  height: 79px;
}
#nose {
  height: 86px;
}
#mouth {
  height: 117px;
}
